<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<H1>Data Science Tools and Ecosystem </H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<h2><strong>Objectives:</strong></h2>

<ul>
  <li>List popular programming languages for data science.</li>
  <li>the commonly used libraries used by Data Scientists.</li>
  <li>examples of evaluating arithmetic expressions </li>
</ul>

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. tensorflow
4. Matplotlib

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Spyder |

<h3> below are a few examples of evaluating arithmetic expressions in Python</h3>

In [12]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [13]:
# convert minutes to hours
minutes = 200
hours = minutes / 60

print("200 minutes is equal to", hours, "hours")
# This will convert 200 minutes to hours by diving by 60

200 minutes is equal to 3.3333333333333335 hours

<h2> Author </h2> 
Yang Wing Ning